{% extends 'base.html' %}

{% block title %}About us{% endblock %}

{% block content %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="3000" data-purecounter-duration="1" class="purecounter"></span>
                <p>عدد الطلبة المقيمين</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                <p>النوادي</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock"></i>
                <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter"></span>
                <p>عمر المؤسسة</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-house-door"></i>
                <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1" class="purecounter"></span>
                <p>عدد الإقامات</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="{%static 'assets/img/apple-touch-icon.png'%}" width="200" height="204" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=ZtwQdgCDYQM" class="glightbox play-btn mb-4"></a>
        </div>

        <div class="col-lg-6 pt-3 pt-lg-0 content">
          <h3>.تعريف المبيت الجامعي و المطعم الجامعي بحمام الشط</h3>
          
          <ul>
            <li><i class="bx bx-check-double"></i><h4>:تعريف المبيت الجامعي بحمام الشط</h4>.هو مؤسسة خدمات جامعيّة من ضمن مؤسسات ديوان الخدمات الجامعيّة للشمال يقدّم خدمات السكن الجامعي للطلبة و الطالبات حيث يتم توفير ظروف ملائمة و مريحة للسكن بالنّسبة للطلبةو للطالبات</li>
            <li><i class="bx bx-check-double"></i><h4>:تعريف المطعم الجامعي بحمام الشط</h4>.هو مؤسسة خدمات جامعيّة من ضمن مؤسسات ديوان الخدمات الجامعيّة للشمال يقدّم خدمات إطعام جامعي للطلبة والطالبات حيث يتم توفير أكلة جامعيّة متنوّعة ذات منافع غذائيّة متوازنة بالنسبة للطلبة و الطالبات </li>
          </ul>
        </di>
      </div>

    </div>
  </section><!-- End About Section -->



{% endblock %}