<html>
{% extends 'base1.html' %}

{% block content %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>الدخول</h3>
            <hr>
            <form action="" method="POST">
                <div class="row">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">الارسال</button>
                {% if error %}
                <li style="color: red;">{{error}}</li>
                {% endif %}
            </form>
            <p> or dont have account? <a href="{% url 'cuhc:etudiantregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">الارسال</a></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
</html>