<!doctype html>
<html lang="en">
  <head>
    {%load static%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <title>{% block title %}الحي الجامعي بحمام الشط{% endblock %}</title>
    <!-- Favicons -->
  <link href="{%static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{%static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c442c47365.js" crossorigin="anonymous"></script>

  </head>
  <body>
      <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="index1.html"><img class="logo" src="{% static 'images/cuhc.png' %}" alt= "الحي الجامعي بحمام لبشط" width="60" height="60"></a>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">الاستقبال</a></li>
          <li><a class="nav-link scrollto" href="#about">احصائيات</a></li>
          <li><a class="nav-link scrollto" href="#services">خدمات</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">الخريطة</a></li>
          <li><a class="nav-link scrollto" href="#team">فريق العمل</a></li>
          <li class="dropdown"><a href="#"><span>   المستعمل : زائر(ة) الموقع</span> <i class="bi bi-chevron-down"></i></a>
            {% if request.user.etudiant %}
               <li> <a href="{% url 'cuhc:etudiantlogout' %}">خروج</a></li>
            {% else %}
            <ul>
              <li><a href="{% url 'cuhc:etudiantregistration' %}">التسجيل</a></li>
              <li><a href="{% url 'cuhc:etudiantlogin' %}">الدخول</a></li>
            {% endif %}
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">اتصل بنا</a></li>
          <li><a class="getstarted scrollto" href="#about">لننطلق</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

   <!-- ======= Hero Section ======= -->
  <section id="hero">
    <img class="logo" src="{%static 'assets/img/apple-touch-icon.png'%}" alt= "الحي الجامعي بحمام الشط" width="180" height="180" hspace="50" vspace="180"></a>
    <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
      <h1>مرحبا بكم في الحيّ الجامعي بحمام الشط</h1>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">لننطلق</a>
        <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>-->
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="3000" data-purecounter-duration="1" class="purecounter"></span>
                  <p>عدد الطلبة المقيمين</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                  <p>النوادي</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="1" class="purecounter"></span>
                  <p>عمر المؤسسة</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                  <i class="bi bi-house-door"></i>
                  <span data-purecounter-start="0" data-purecounter-end="13" data-purecounter-duration="1" class="purecounter"></span>
                  <p>عدد الإقامات</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="200">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="{%static 'assets/img/apple-touch-icon.png'%}" width="200" height="204" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=ZtwQdgCDYQM" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>.تعريف المبيت الجامعي و المطعم الجامعي بحمام الشط</h3>
            
            <ul>
              <li><i class="bx bx-check-double"></i><h4>:تعريف المبيت الجامعي بحمام الشط</h4>.هو مؤسسة خدمات جامعيّة من ضمن مؤسسات ديوان الخدمات الجامعيّة للشمال يقدّم خدمات السكن الجامعي للطلبة و الطالبات حيث يتم توفير ظروف ملائمة و مريحة للسكن بالنّسبة للطلبةو للطالبات</li>
              <li><i class="bx bx-check-double"></i><h4>:تعريف المطعم الجامعي بحمام الشط</h4>.هو مؤسسة خدمات جامعيّة من ضمن مؤسسات ديوان الخدمات الجامعيّة للشمال يقدّم خدمات إطعام جامعي للطلبة والطالبات حيث يتم توفير أكلة جامعيّة متنوّعة ذات منافع غذائيّة متوازنة بالنسبة للطلبة و الطالبات </li>
            </ul>
          </di>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Boxes Section ======= -->
    <section id="about-boxes" class="about-boxes">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="{%static 'assets/img/about-boxes-1.jpg'%}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-brush-4-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Mission</a></h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <img src="{%static 'assets/img/about-boxes-2.jpg'%}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-calendar-check-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Plan</a></h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <img src="{%static 'assets/img/about-boxes-3.jpg'%}" class="card-img-top" alt="...">
              <div class="card-icon">
                <i class="ri-movie-2-line"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Boxes Section -->

    <!-- ======= Clients Section ======= -->
<centre>
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">
      <centre>
      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{%static 'assets/img/clients/x.png'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{%static 'assets/img/clients/x1.png'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{% static 'images/cuhc.png' %}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{%static 'assets/img/clients/x1.png'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{%static 'assets/img/clients/x2.jpg'%}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="{%static 'assets/img/clients/x1.png'%}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section><!-- End Clients Section -->
</centre>

  <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>الخدمات</h2>
          <p>تحقق من خدمتنا</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-laptop"></i>
              <h4><a href="http://www.mes.tn/">وزارة التعليم العالي والبحث العلمي</a></h4>
              <p>وزارة التعليم العالي والبحث العلمي هي وزارة تونسية مسؤولة عن قطاع التعليم العالي في البلاد.              </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="https://www.ooun.rnu.tn/">ديوان الخدمات الجامعية للشمال</a></h4>
              <p>هو عبارة عن عن ادارة تهتم بتسيير و تنظيم شؤون جميع مؤسسات الخدمات الجامعيةبالشمال التابعة لها.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="www3.inscription.tn">inscription.tn</a></h4>
              <p>ce site pour faire l'inscription des étudiants dans les facultées et les institus supérieurs. </p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="https://www.ooun.rnu.tn/fr/etudiant/login">خدمة السكن الجامعي </a></h4>
              <p>تقديم مطالب السكن الجامعي و خلاص الفترات عن بعد</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="https://www.ooun.rnu.tn/Resultat_bourse/index.php">نتائج دراسة ملفات المنح و القروض الجامعيّة</a></h4>
              <p>يمكنك من خلال هذا الرابط  متابعة وضعيّة ملفّك المتعلق بالمنح و القروض الجامعيّة</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-clock"></i>
              <h4><a href="#">نتائج دراسة المساعدات الاجتماعيّة</a></h4>
              <p>يمكنك من خلال هذا الرابط متابعة وضعيّة ملفك المتعلق بالمساعدة الاجتماعيّة</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{%static 'assets/img/about-boxes-2.jpg'%}" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'assets/img/about-boxes-3.jpg'%}" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'assets/img/about-boxes-1.jpg'%}" class="rounded mx-auto d-block" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- End Testimonials Section -->

    <!-- ======= maps ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>الخريطة</h2>
          <p>المساعدة في الوصول للحي</p>
        <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:1300px;height:300px;"><div id="gmapcanvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=foyer+universitaire+hammam+chatt&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlehtml" href="https://www.embed-map.com" id="make-mapdata">https://www.embed-map.com</a><style>#gmapcanvas img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>

        </div>

      </div>
    </section><!-- End map -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>الفريق</h2>
          <p>تعرف على فريق العمل</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="{%static 'assets/img/team/directeur CU.jpg'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Cherif Mehdi</h4>
                <span>Directeur CUHC</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/avatar-femme.png'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dridi Rihab</h4>
                <span>Technicienne d'iformatique</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="pic"><img src="{%static 'assets/img/team/chef.jpg'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Hizaoui Abdel Karim</h4>
                <span>Chef Restaurant</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

    <div class=" section-title">
        <h2>الاتصال</h2>
        <p>اتصل بنا</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="bx bx-map"></i>
                <h3>العنوان </h3>
                <p>شارع السلام 1162 حمام الشط بن عروس تونس</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-envelope"></i>
                <h3>Email </h3>
                <p>info@example.com<br>contact@example.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="bx bx-phone-call"></i>
                <h3>الهاتف </h3>
                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <img class="logo" src="{% static 'images/cuhc.png' %}" alt= "الحي الجامعي بحمام الشط "width="60" height="60"></a>
              <h2>الحي الجامعي بحمام الشط</h2>
              <p>
                شارع السلام 1164 حمام الشط <br>
                بن عروس,تونس<br><br>
                <strong>الهاتف :</strong> 71 430 644<br>
                <strong>الفاكس :</strong> 71 430 576<br>
                <strong>Email:</strong> cuhchatt@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">الاستقبال</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">احصائيات</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">خدمات</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">فريق العمل</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">اتصل بنا</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <iframe name="InlineFrame1" id="InlineFrame1" style="width:180px;height:220px;" src="https://www.mathieuweb.fr/calendrier/calendrier-des-semaines.php?nb_mois=1&nb_mois_ligne=4&mois=&an=&langue=fr&texte_color=B9CBDD&week_color=DAE9F8&week_end_color=C7DAED&police_color=453413&sel=true" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Dewi</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js'%}"></script>
  <script src="{%static 'assets/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js'%}"></script>

</body>

</html>